<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>BioDash</title>
</head>
<body>
	<h1>BioDash</h1>
	<p>
			This rest API has the objective of allowing the recording and monitoring of the main cardiovascular parameters and blood glucose of patients.
			It is intended to be used by a health professional, but anyone who needs to keep track of their vital parameters could find it useful.
	</p>
	<section>
		<h2>Main features</h3>
			<ul>
				<li>Built with Fastapi and Sqlalchemy.</li>
				<li>Security system using OAuth2 and JWT.</li>
				<li>Email verification using verification code.</li>
				<li>Complex database queries.</li>
				<li>Handling static files.</li>
			</ul>
	</section>

	<section>
		<h2>Database entity relationship model</h3>
		<img src="src/biodash.jpg" alt="Database entity relationship model" />
	</section>

	<a href=https://biodash.onrender.com/docs#/>
		<button>Go to documentation</button>
	</a>
</body>
</html>